#logo-img {
  height: 50px;
  width: 90%;
}

.navbar-container {
  height: 65px;
}

.navbar-brand {
  margin-bottom: 10px !important;
  margin-right: 5px !important;
}

#heading-title {
  float: left;
  font-size: 25px;
}

.email-nav {
  font-size: 25px;
}

.nav-right-seg-text {
  color: white !important;
  font-weight: 20%;
  font-size: 25px;
  margin-left: 10px;
  transition: color 0.3s; 
}

.nav-right-seg-text:hover {
  color: #CD1010 !important; 
}

@media only screen and (max-width: 700px) {
  .navbar-toggler {
    /* width: 90px; */
    float: right;
    padding: 0;
    margin-right: 10px;
  }
  .navbar-brand {
    width: 30px;
    height: auto;
  }
  /* #heading{
        font-size: 30px;
    } */
}

@media only screen and (max-width: 600px) {
  /* #heading{
        font-size: 15px;
        float: left;
    } */

  #logo-img {
    height: 30px;
    width: 35px;

    padding: 0;
    margin-left: 20px;
  }
  .navbar-toggler {
    width: 50px;
    /* float :right; */
    /* margin-right: 10px; */
  }
  #heading-title {
    float: left;
    font-size: 20px;
  }

  .email-nav {
    font-size: 17px;
  }
}

@media only screen and (max-width: 410px) {
  #heading-title {
    float: left;
    font-size: 17px;
  }
}

@media only screen and (max-width: 370px) {
  #heading-title {
    float: left;
    font-size: 14px;
  }
}
